$primary-color: #e43d12;
$secondary-color: #FFA2B6;
$tertiary-color: #D6536D;
$primary-dark-color: #8E1616;
$secondary-dark-color: #D84040;
$white-color: #EEEEEE;

$themes: (
  default: (
    bg: #EBE9E1,
    card-bg: $secondary-color,
    hover: $tertiary-color,
    button: $primary-color,
    border: #000,
    header: $primary-color,
    text: #000000,
    h1-color: $primary-color,
  ),
  dark: (
    bg: #1D1616,
    card-bg: $secondary-dark-color,
    hover: $tertiary-color,
    button: $primary-dark-color,
    border: #000,
    header: $primary-dark-color,
    text: #FFFFFF,
    h1-color: $primary-dark-color,
  )
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @debug "key: #{$key}";
  @return map-get($theme-map, $key);
}