.hand {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.handBtns > button {
  border: 1px solid blue;
  padding: .5rem 1rem;
  cursor: pointer;
  margin-right: 1rem;
}

.select {
  border: 1px solid blue;
  padding: .25rem .5rem;
  margin: 1rem .5rem;
}