@import "/components/utilities/_themes";

.hand {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 100%;
  padding: .5rem .25rem;
  margin: 0 auto .5rem auto;

  @include theme() {
    scrollbar-color: theme-get('primary-color') white;
  }
  > li {
    width: 50px;
    display: block;
    z-index: 1;
  }
  >li:last-child {
    width: auto;
  }
}

.card {
  position: relative;
  width: 75px;
  height: 105px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 2px;

  @include theme() {
    background-color: theme-get('card-front-bg');
  }


}

.card.selected {
  background-color: #f1b9b4;
}

.cardTopLeft {
  position: absolute;
  top: 8%;
  left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardBottomRight {
  position: absolute;
  bottom: 8%;
  right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardTopLeft.red, .cardBottomRight.red {
  color: red !important;
}

.cardBottomRight > span {
  transform: rotate(180deg);
}

@media (min-width: 1024px) {
  .hand {
    padding: 1rem 0 1rem 1rem;
    margin-bottom: 0;
    > li {
      width: 30px;
    }
    > li:last-child {
      margin-right: 1rem;
    }
  }
}