$primary-color: #E43D12;

.hand {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  width: 100%;
  padding: .5rem .25rem;
  margin-bottom: 1rem;
  scrollbar-color: $primary-color white;
  > li {
    width: 50px;
    display: block;
    z-index: 1;
  }
  >li:last-child {
    width: auto;
  }
}

.card {
  position: relative;
  width: 75px;
  height: 105px;
  border: 2px solid black;
  background-color: white;
  border-radius: 4px;
  margin: 2px;
}

.card.selected {
  background-color: $primary-color;
}

.cardTopLeft {
  position: absolute;
  top: 8%;
  left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardBottomRight {
  position: absolute;
  bottom: 8%;
  right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardTopLeft.red, .cardBottomRight.red {
  color: red;
}

.cardBottomRight > span {
  transform: rotate(180deg);
}